@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Jua&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/*--------------------------------------------------------------------------------------*/
/*)___________________________ css sur tout les pages ____________________________*/
/*barre de  navigation : logo + titre */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.logo h1 {
  font-family: 'Jua', sans-serif;
}

.onglets a {
  text-decoration: none;
  font-family: 'Jua', sans-serif;
  font-size: x-large;
  color: white;
  padding: 12px;
}

.onglets a:hover {
  text-decoration: underline;
}

.sidenav {
  position: fixed;
  margin-top: 300px;
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute;
  /* Position them relative to the browser window */
  left: -80px;
  /* Position them outside of the screen */
  transition: 0.3s;
  /* Add transition on hover */
  padding: 13px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  /* Increase font size */
  color: white;
  border-radius: 0 5px 5px 0;
  /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #2b785cd1;
}

#blog {
  top: 80px;
  background-color: #ffc10782;
}

#projects {
  top: 140px;
  background-color: #f4433670;
}

#contact {
  top: 200px;
  background-color: #5555558f
    /* Light Black */
  ;
}


/*header*/
.header {
  display: flex;
  flex-direction: column;
  background: url("/media/image/fond-header.png");
  background-position: center;
  height: 875px;
  background-repeat: no-repeat;
  background-size: cover;
}


/*footer */
.footer {
  background-color: #362f2f4d;
  color: white;
  height: 100px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  justify-content: space-between;
}

.footer p {
  font-family: 'Jua', sans-serif;
}

/* main sur toute les pages à part la page index  */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

/* menu version mobile cachée sur la version ordinateur */
.overlay {
  display: none;
}

.main_sidenav {
  display: none;
}

.openbtn {
  display: none;
}

/*)___________________________index.html (accueil)____________________________*/
/*--------------------------------------------------------------------------------------*/
/*main : 3 sections + btn Parcourir */
/*bouton Parcourir + menu */
.main_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parcourir {
  display: flex;
  flex-direction: column;
}

.main_btn button {
  transition-duration: 0.4s;
  background-color: #070707c4;
  color: white;
  border: 2px solid #00000000;
  height: 85px;
  font-family: 'Jua';
  font-size: xxx-large;
}

.main_btn button:hover {
  background-color: #ffc107;
  color: white;
  border: 2px 0px solid #030303a8;
}

/*Section 2 : plat vedette */
.main_plat_vedette {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #2f4f4f6b;
}

.main_titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 960px;
  height: 660px;
}

.main_titre h2 {
  padding-top: 20px;
  font-family: 'Jua', sans-serif;
  text-transform: uppercase;
  font-size: xx-large;
  text-align: center;
}

.main_titre p {
  text-align: center;
  width: 730px;
  font-size: xx-large;
  font-family: 'Jua', sans-serif;
}

.main_titre button {
  padding: 40px;
  width: 250px;
  border: 1px solid #2f4f4f6b;
  border-radius: 10px;
  background-color: #2f4f4f6b;
  color: white;
  font-size: larger;
  font-family: 'Jua', sans-serif;
  text-shadow: 4px 0px black;
  box-shadow: 0px -1px 4px 0px black;
}

.main_titre button:hover {
  background-color: #345a5a6b;
  font-family: 'Jua', sans-serif;
  box-shadow: 2px 5px 2px 0px black;
  text-shadow: 4px 3px 4px black;
  ;
}

/* slide */
/* contenu du slide */
.contener_slideshow {
  background-color: black;
  width: 960px;
  height: 985px;
  overflow: hidden;
  /*cache les élements qui dépassent le contenut */
  position: relative;
}


/* modifiacation de la hauteur des images */
.contener_slideshow img {
  height: 983px;
}

/*contenu qui va permettre de réaliser le slide */
.contener_slide {

  width: 960px;
  height: 650px;
  left: 0px;
  position: absolute;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: anim_slide;
}


/*création  d'une animation qui a pour clé "anim_slide"*/
/* pourcentage correspondant à la progression de l'animation*/
@keyframes anim_slide {
  0% {
    left: 0px;
  }

  22% {
    left: 0px;
  }

  33% {
    left: -960px;
  }

  45% {
    left: -960px;
  }

  66% {
    left: -1920px;
  }

  90% {
    left: -1920px;
  }
}

/*taille des images dans le  contener_slide*/
.slid_1,
.slid_2,
.slid_3 {
  position: absolute;
  width: 960px;
  height: 975px;
}

/*position des images dans le slide */
.slid_1 {
  left: 0px;
}

.slid_2 {
  left: 960px;
}

.slid_3 {
  left: 1920px;
}


/*Section  3 : témoignage */
.main_temoignage {
  height: 980px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.contenu_temoignage {
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 980px;
  align-items: center;
  background: url(https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.box_temoignage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(83 57 23 / 45%);
  width: 960px;
  height: 980px;
  backdrop-filter: blur(25px);
  border: 1px solid rgba(218, 147, 53, 0.225);
}

.box_temoignage h2 {
  padding-top: 20px;
  font-family: 'Jua', sans-serif;
  text-transform: uppercase;
  font-size: xx-large;
  text-align: center;
}

.box_temoignage p {
  text-align: center;
  width: 730px;
  font-size: xx-large;
  font-family: 'Jua', sans-serif;
}

.box_temoignage button {
  padding: 40px;
  width: 250px;
  border: 1px solid rgb(83 57 23 / 45%);
  border-radius: 10px;
  background-color: rgb(83 57 23 / 45%);
  color: white;
  font-size: larger;
  font-family: 'Jua', sans-serif;
  text-shadow: 4px 0px #00000059;
  box-shadow: 0px -1px 4px 0px #00000052;
}

.box_temoignage button:hover {
  background-color: rgba(100, 68, 26, 0.45);
  font-family: 'Jua', sans-serif;
  box-shadow: 2px 5px 2px 0px rgb(78 56 28 / 45%);
  text-shadow: 4px 3px 4px rgb(78 56 28 / 69%);
}

.txt_temoignage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Texte défilant */
.messagedefilant {
  display: block;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  width: 50%;
  max-width: 620px;
  height: 10px;
  font-family: 'Jua', sans-serif;
  border: 1px solid rgb(83 57 23 / 45%);
  box-shadow: 2px 3px 9px 2px rgb(83 57 23 / 45%);
  padding: 50px;
  font-size: 2rem;
  white-space: nowrap;
}

.messagedefilant div {
  position: absolute;
  min-width: 100%;
  /* au minimum la largeur du conteneur */
}

/* création + durée de l'animation */
.messagedefilant div span {
  animation: defilement 15s infinite linear;

}
  @keyframes defilement {
    0% {
      margin-left: 0;
    }

    100% {
      margin-left: -100%;
    }
  }
/********************************vue-menu.html****************************************/
.header_menu {
  display: flex;
  flex-direction: column;
  background: url(/../../media/image/bg-2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 800px;
}

.main_menu {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 300px;
  width: 100%;
  padding-bottom: 50px;
}

.main_menu h1 {
  font-family: 'Jua', sans-serif;
  font-size: xxx-large;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px white;
  text-align: center;
}

.main_menu p {
  text-align: center;
}

.main_menu button {
  background-color: rgb(224 146 44 / 45%);
  border: 1px solid black;
  color: white;
  padding: 20px;
}

.titre_menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titre_menu h2 {
  font-family: 'Jua', sans-serif;
  font-size: xxx-large;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px white;
  text-align: center;
  color: white;
}

.main_entree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 55px;
}

.main_plat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 55px;
}

.main_dessert {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 55px;
}

.main_boisson {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 55px;
}

.contenu_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000054;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  margin-left: 10px;
  margin-bottom: 50px;
}

.card_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img_menu {
  display: flex;
  overflow: hidden;
}

.img_menu img {
  width: 340px;
  height: 300px;
  transition: all 0.2s;
}

.img_menu:hover img {
  transform: scale(1.2);
}

.description_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Jua', sans-serif;
}

.btn_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

@media only screen and (max-width : 767px) {
  .header_menu {
    display: flex;
    flex-direction: column;
    background: url(/../../media/image/bg-2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    height: 500px;
  }
}

/********************************vue-contact.html****************************************/
.header_contact {
  display: flex;
  flex-direction: column;
  background: url(/../../media/image/img-bienvenue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.titre_vue h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Jua', sans-serif;
  font-size: xxx-large;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px white;
  text-align: center;
  color: white;
}

.main_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenu_contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  height: 550px;
  padding-bottom: 50px;
}

.txt_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 300px;
  background-color: #0000006e;
  box-shadow: 5px 1px 10px 5px black;
  height: 550px;
}

.txt_contact h3 {
  text-transform: uppercase;
  font-family: 'Jua', sans-serif;
  text-decoration: underline;
}

.txt_contact p {
  font-size: larger;
  font-family: 'Jua';
}

/********************************vue-horaire.html****************************************/
.header_horaire {
  display: flex;
  flex-direction: column;
  background: url(/../../media/image/img-bienvenue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.img_horaire {
  margin-top: 30px;
  margin-bottom: 30px;
}

.img_horaire img {
  box-shadow: 5px 2px 0px 4px #00000059;
  width: 740px;
}




/* version mobile */
@media only screen and (max-width : 767px) {

  /*_______________________base _________________________________*/
  /*header */
  .header {
    display: flex;
    flex-direction: column;
    background: url(/media/image/fond-header.png);
    background-size: cover;
    background-position: bottom;
    height: 425px;
    background-repeat: no-repeat;
  }

  /* Styles here */
  .navbar {
    background-color: #0a0a0afc;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
  }

  #mySidenav {
    display: none;
  }

  .onglets {
    visibility: hidden;
    display: none;
  }

  .openbtn {
    display: block;
  }

  a.closebtn {
    float: right;
    font-weight: bolder;
    font-size: 40px;
    margin-right: 25px;
    text-decoration: none;
  }

  a.closebtn:hover {
    text-decoration: none;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 98%);
    overflow-x: hidden;
    transition: 0.5s;
    display: block;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .onglets-verticale {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .overlay a {
    font-size: 40px;
    font-family: 'Jua', sans-serif;
    color: white;
    text-decoration: none;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
    text-decoration: underline;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .titre_vue h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Jua', sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px white;
    text-align: center;
    color: white;
  }

  /*___________sidenav verticale____________*/
  .main_sidenav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
  }

  .icone {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .icone a {
    color: white;
    padding-left: 15px;
  }


  /*_____________________________________________________________index.html__________________________________________________*/
  /*__________  main  plat vedette _____________*/
  .main_plat_vedette {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2f4f4f6b;
  }

  .main_titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
  }

  .main_titre h2 {
    padding-top: 20px;
    font-family: 'Jua', sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
  }

  .main_titre p {
    width: 250px;
    font-size: x-large;
    font-family: 'Jua', sans-serif;
  }

  .contener_slideshow {
    display: none;
  }

  /*___________main temoignage____________*/
  .main_temoignage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }

  .contenu_temoignage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    align-items: center;
    background: url(https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .box_temoignage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(83 57 23 / 45%);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(218, 147, 53, 0.225);
  }

  .box_temoignage h2 {
    padding-top: 20px;
    font-family: 'Jua', sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
  }

  .box_temoignage p {
    text-align: center;
    width: 230px;
    font-size: x-large;
    font-family: 'Jua', sans-serif;
  }

  .txt_temoignage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*___________________________________vue contact _____________________________________*/
  .header_contact {
    display: flex;
    flex-direction: column;
    background: url(/../../media/image/img-bienvenue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
  }
  .main_contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
  .contenu_contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    height: 550px;
    padding-bottom: 50px;
  }

  .txt_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 170px;
    background-color: #0000006e;
    box-shadow: 5px 1px 10px 5px black;
    height: 550px;
  }
  .txt_contact h3 {
    text-transform: uppercase;
    font-family: 'Jua', sans-serif;
    text-decoration: underline;
  }

  .txt_contact p {
    font-size: larger;
    font-family: 'Jua';
  }

  .maps_contact iframe {
    width: 170px;
    height: 550px;
  }

  /*___________________________________vue horaire _____________________________________*/
  .header_horaire {
    display: flex;
    flex-direction: column;
    background: url(/../../media/image/img-bienvenue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
  }

  .img_horaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 320px;
  }

  .img_horaire img {
    box-shadow: 5px 2px 0px 4px #00000059;
    width: 390px;
  }



  /*___________________________________vue menu _____________________________________*/
  .main_menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 50px;
  }
  .main_menu p {
    text-align: center;
  }
  .main_entree {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 55px;
  }
  .contenu_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000054;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    margin: 10px;
  }
  .img_menu img {
    width: 220px;
  }

  #myBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}